---
import {PROJECTS} from "@/utils/config"
import Truncater from "@/components/Truncater"
---

<section id="projects" class="bg-background text-foreground flex flex-col gap-24 relative section-container">
  <h2 class="head-title"># Projects</h2>

{PROJECTS.map((project) => (
  <section  class="relative flex flex-col lg:flex-row justify-between items-start h-max">
    <article class="lg:sticky lg:top-0 lg:h-screen w-full lg:w-[40%] flex flex-col justify-center p-6 lg:p-8">
      <h3 class="text-2xl lg:text-3xl text-white font-bold mb-3">{project.title}</h3>
      {/* <p class="mb-5  text-foreground leading-relaxed">
        {project.description}
      </p> */}
      <Truncater text={project.description} client:only />
      <div class="flex flex-wrap gap-2 mb-4">
       {project.stacks.map((stack) => (
         <span class="px-3 py-1 bg-primary/10 text-primary/50 hover:bg-primary cursor-pointer duration-200 transition-colors hover:text-background ease-in-out font-medium rounded-full text-xs">{stack}</span>
       ))}
      </div>
      <a href={project.href} target="_blank" rel="noopener noreferrer" class="text-primary cursor-pointer font-medium hover:underline">View Project →</a>
    </article>

    <!-- Scrolling Images -->
    <figure class="w-full lg:w-[55%] space-y-8 mt-8 lg:mt-0">
        {project.images.map((image) =>
      <div class="h-full flex items-center justify-centertext-white text-2xl lg:text-3xl font-semibold">
        <img src={image} class="hover:scale-105 transition-all ease-in duration-200" alt={`Screenshot of ${project.title}`} />
      </div>
        )}
 
    </figure>
  </section>
))}
</section>
