---
import "@/styles/global.css";
import { USER } from "@/utils/config.ts";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  url?: string;
}

const {
title= USER.TITLE ?? USER.NAME,
description= USER.DESCRIPTION,
image= `${USER.SITE_URL}/user.jpg`,
url= USER.SITE_URL,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
     <script defer src="/_vercel/insights/script.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={url} />

    <meta property="og:url" content={url} />
    <meta property="og:image" content={image} />
    <meta property="og:image:alt" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:image:alt" content={title} />

    <meta name="author" content={USER.NAME} />
  <meta name="robots" content="index, follow" />

  <!-- Extra font -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  </head>
  <body class="text-sm w-full bg-background">
    <slot />

    <script is:load>
window.addEventListner("wheel", (e) => {
e.preventDefault();

const slowFactor = 0.2

window.scrollBy({
  top: e.deltaY + slowFactor,
  behaviour: "smooth"
})
}, {passive: false})
    </script>
  </body>

  
</html>
